:root{
    --jwe-saffron: #FFE601;
    --jwe-titanium-white: #FFFFFF;
    --jwe-black: #000000;
    --jwe-black-light: #555555;
    --jwe-lilac: #DEDBFF;
    --jwe-secondary: #F63871;
    --jwe-secondary-light: #F56490;
    --jwe-secondary-disbled: #F2C2D0;
    --jwe-off-white: #FAFAFA;
    ---jwe-blue: #36b5ff;
}

.lp-wrapper {
    background-color: var(--jwe-lilac);
}

.modal-wrapper {
    width: 70vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.modal-title {
    margin: 3% 0 0 0;
    height: 12%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-subtitle {
    height: 20%;
    margin: 0;
    text-align: center;
    font-size: medium;
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-form-title {
    height: 10%;
    margin: 5% 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-form {
    height: 48%;
    margin-bottom: 2%;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.modal-input-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 30%;
}

.modal-input-select, .modal-input {
    width: 30%;
    border-radius: 8px;
    border: 1px solid var(--jwe-black-light);
    padding: 0;
    height: 100%;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25);
}

.modal-input { 
    padding-left: 1%;
}

.modal-submit {
    background-color: var(--jwe-black);
    border: none;
    border-radius: 8px;
    height: 32%;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25);
    width: 50%;
    font-size: large;
    color: var(--jwe-titanium-white);
}

.modal-submit:hover {
    box-shadow: none;
    cursor: pointer;
    background-color: var(--jwe-black-light)
}

.modal-submit:disabled {
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25);
    background-color: #BBBBBB;
    cursor: not-allowed;
}

.lp-top-container {
    height: 60vh;
    box-sizing: border-box;
    display: flex;
}

.lp-top-left-wrapper {
    box-sizing: border-box;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.lp-title-box {
    background-color: var(--jwe-black);
    box-shadow: -10px -10px var(--jwe-saffron);
    width: 82%;
    margin: 5% 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lp-title {
    color: var(--jwe-titanium-white);
    margin: 3% 5%;
    font-size: 280%;
    font-weight: normal;
    text-align: left;
}

.lp-subtitle-wrapper {
    width: 80%;
    margin: 1% 0;
}

.lp-book-button {
    background-color: var(--jwe-black);
    color: var(--jwe-titanium-white);
    border-radius: 16px;
    width: 65%;
    border: none;
    height: 12%;
    font-size: x-large;
    margin: 11% 0 0 12%;
}

.lp-book-button:hover{
    cursor: pointer;
    width: 72%;
    transition: width 1s ease;
    color: var(--jwe-saffron);
}

.lp-subtitle {
    font-weight: normal;
    text-align: left;
    margin: 0;
}

.lp-top-right-wrapper {
    color: transparent;
    box-sizing: border-box;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.lp-picture-wrapper {
    background-image: url(/public/IMG_0687.jpg);
    background-position: center;
    background-size: cover;
    border: none;
    height: 88%;
    width: 85%;
    position: relative;
    border: 6px solid var(--jwe-saffron);
    border-radius: 16px;
}

.lp-picture-card-left, .lp-picture-card-right {
    border-radius: 8px;
    position: absolute;
    width: fit-content;
    height: 20%;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25);
    background-color: var(--jwe-titanium-white);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.lp-picture-card-left {
    left: -5%;
    bottom: 10%;
}

.lp-picture-card-right {
    right: -5%;
    top: 10%;
}

.lp-picture-card-left-title, .lp-picture-card-right-title {
    margin: 0;
    font-size: 240%;
    margin-left: 5%;
}

.lp-picture-card-right-title {
    color: var(--jwe-secondary);
}

.lp-picture-card-left-title {
    color: var(---jwe-blue);
}

.lp-picture-card-text  {
    color: var(--jwe-black);
    font-size: larger;
    margin: 0;
    width: 130px;
    background-color: #BBBBBB;
}






.lp-spacer {
    background-color: var(--jwe-black);
    color: transparent;
    margin: 1vh 5vw -1vh 5vw;
    height: 0.5vh;
    box-sizing: border-box;
    border-radius: 40%;
}

.lp-bottom-container {
    height: 31.5vh;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.lp-card, .lp-info-card, .lp-review-card {
    border: none;
    border-radius: 16px;
    background-color: var(--jwe-titanium-white);
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 26%;
    height: 21vh;
    text-decoration: none;
    color: var(--jwe-black);
}

.lp-card:hover, .lp-info-card:hover, .lp-review-card:hover {
    box-shadow: 5px 5px var(--jwe-saffron);
    cursor: pointer;
    transition: box-shadow 0.5s ease;
}

.lp-info-card:hover {
    cursor: not-allowed;
}

.lp-review-card {
    justify-content: center;
}

.lp-card {
    justify-content: space-between;
}

.lp-stars-wrapper {
    display: flex;
    justify-content: space-evenly;
    margin-right: -8%;
}

.lp-star {
    color: var(--jwe-saffron);
}

.lp-review-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.lp-review-score {
    text-align: right;
    width: 80%;
    margin: 1vh;
}


.lp-envelope, .lp-info {
    margin-top: 5%;
}

.lp-card-text-review {
    margin: 0;
}

.lp-card-text {
    margin: 0 0 5% 0;
}
